@media(width <= 78rem){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, 30rem)
                            minmax(60rem, 1fr);
    }

    aside{
        align-items: center;

        position: relative;
    }


    #bcg-image{
        /* object-position: center; */

        position: absolute;
    }

    .title-container{
        margin: 0;

        z-index: 1;
    }

}

@media(width <= 50rem){
    :root{
        --main-grid-template: 5rem 28rem 1fr;
    }

    body{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(15rem, 30rem)
                            minmax(79.4rem, 1fr);
    }

    main{
        grid-template-areas: ". description description"
                             "form form form "
                             ". log-in .";
    
    }

    fieldset{
        height: 52rem;

        grid-template-areas: ". header ."
                             ". first-name ."
                             ". last-name ."
                             ". email ."
                             ". phone-number ."
                             ". password ."
                             ". confirm-password .";
    }


}