@keyframes load-out{
    0%{
        opacity: 0.5;
        /* transform: translateY(-2rem); */
    }
    
    25%{
        opacity: 1;
        transform: translate(3rem, -3rem);
    }

    75%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translate(3rem, -3rem);
    }
}

svg{
    position: absolute;

    pointer-events: none;

    width: 25rem;
    height: 5.2rem;
}

.input-container{
    position: relative;
}

.input-container:has(input:user-invalid)::before{
    position: absolute;
    
    pointer-events: none;

    width: 100%;
    height: 100%;

    background-color: var(--button-background);
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem 0;
    font-style: italic;
    font-size: 1.5rem;

    /* top: -6rem;
    left: 2rem; */
    
    opacity: 0;
    transform: translate(3rem, -4rem);

    display: flex;
    /* padding-top: .5rem; */

    z-index: 2;

    animation: load-out 7500ms ease-in;

    clip-path: url(#textBubble);
}

.input-container:has(#first-name:user-invalid)::before{
    content: "*First name is mandatory and must contain atleast one single letter";
}

.input-container:has(#last-name:user-invalid)::before{
    content: "*Last name is mandatory and must contain atleast one single letter";
}

.input-container:has(#email:user-invalid)::before{
    content: "*Email is mandatory and must be a legitamate email address";
}

.input-container:has(#password:user-invalid)::before{
    content: "*Password is mandatory and must contain between 8 and 20 characters";
}

.input-container:has(#confirm-password:user-invalid)::before{
    content: "*Password is mandatory and must contain between 8 and 20 characters";
}